body{
  font-family:  "Yu Mincho";
  font-size: 20px;
  line-height:  52px;
}

.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 1.5vw
}

.header-flex ul li{
  display: inline;
  padding :36px;
}

.header-flex ul li a{
  text-decoration: none;
  color: black;
}

.logo-img{
  height: 100px;
}

.main-flex{
  display: flex;
}


.main-title{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 48vw;
  min-height: calc(100vh - 6rem);
  padding-top: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.main-title p{
writing-mode: vertical-rl;
font-size: 48px;
padding-top: 28px;
}

.main-img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

hr{
  height:160px;
  width:.1vw;
  border-width:0;
  color:#000;
  background-color:#000;
 }
 

 .explanation-main{
  padding:60px;
 }


 .content-img{
  min-width: 600px;
  height: 450px;
  object-fit: cover;
 }

 .main-content-title{
  font-size: 48px;
  margin-left: 24px;
 }

 .main-content-flex{
  display: flex;
  max-width: 100%;
 }

 .main-content{
  margin: 0 24px;
 }



 .main-content p{
  margin-top: 0px;

 }

 .explanation-content{
  padding-left:24px;
  margin-bottom: 80px;
 }

 .footer{
  background-color: #cab8d9;
  height: 150px;
}

.logo-img2{
  height: 150px;
  padding:0 20px;
  float: left;
}

.footer-content{
  float: right;
}

.footer-content li{
  padding: 0 12px;
  font-size: 1.5vw;
  list-style:none;
  float: left;
}

.footer-content li a{
  text-decoration: none;
  color:#000;
}

.footer-link{
  font-size: 1.3vw;
  list-style:none;
  float:inline-end;
}

.footer-link a{
  padding :12px;
  text-decoration: none;
  color:#000;
}

.footer-link li{
  padding: 12px;
}

.footer-link-main{
  margin: 12px;
}

@media screen and (max-width: 835px) {
  .footer{
    background-color: #cab8d9;
    height: 300px;
  }

  .footer-content li{
    padding: 0 12px;
    font-size: 18px;
    list-style:none;
    float: left;
  }

  .footer-link{
    font-size: 12px;
    list-style:none;
    float:inline-end;
  }
}
@media screen and (max-width: 700px) {
  .footer{
    background-color: #cab8d9;
    height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .header-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 1.5vw
  }

}


@media screen and (max-width: 1070px) {

/*　ハンバーガーボタン　*/
/* ハンバーガーのマーク */
.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  margin-right: 10px;
  z-index: 2;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

/* クリックされた後のハンバーガーのマーク */
.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* クリックで表示されるメニュー：クリックされる前 */
.nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  background-color: #fff;
  z-index: 1;
}
.nav_menu_li {
  margin-bottom: 30px;
}
.nav_menu_li a {
  color: #ee6557;
  text-decoration: none;
  padding-left: 16px;
  font-size: large;
}

/* クリックで表示されるメニュー：クリックされた後 */
.nav.show {
  opacity: 1;
  visibility: visible;
}


.button {
  text-align:center;
  padding:10px;
  color:#666;
  border: 2px solid #333;
  width:200px;
  margin:16px auto;
}
.close {
  background:#fff;
}
.header-flex ul li{
  display: list-item;
  padding :8px;
  list-style:none;
}
}